.box{
    width: 100px;
    background-color: #D9FFEA;
    margin-left: 10px;
    margin-top: 10px;
    padding: 5px;
    padding-bottom: 0px;
    border-radius: 5px;
    float:left;
}

#boxtextB{
    color: #1E2E2D;
    text-align: center;
    font-size: 80px;
    font-family: "M PLUS 1p";
    padding: 10px;
}
#boxtextM{
    color:#446968;
    font-size: 15px;
}

#maintextB{
    color: #446968;
    font-size: 30px;
    font-family: "Noto Sans KR", sans-serif;
    padding-top: 20px;
    font-weight: bold;
}
#maintextM{
    color: #446968;
    font-size: 15px;
    font-family: "Noto Sans KR", sans-serif;
}
#maintextS{
    color: #446968;
    font-size: 20px;
    font-family: "Noto Sans KR", sans-serif;
    padding-top: 10px;
    padding-bottom: 20px;
}

#subtextS{
    color: #446968;
    font-size: 15px;
    font-family: "Noto Sans KR", sans-serif;
    padding-top: 10px;
    padding-bottom: 20px;
    font-weight: bold;
}
#subtextM{
    color: #446968;
    font-size: 15px;
    font-family: "Noto Sans KR", sans-serif;
    padding: 10px;
}